<div class="container">
	<div class="page-header">
		<h1>Owners and pets</h1>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Add a new owner</h3>
			</div>
			<div class="panel-body">
				<form name="addOwnerForm" novalidate ng-submit="ctrl.save()">
					<div class="row">
						<div class="col-md-3">
							<div class="input-group">
								<input type="text" placeholder="Owner's name" ng-model="ctrl.name" class="form-control" />
								<span class="input-group-btn">
									<button type="submit" class="btn btn-default">Add</button>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<table class="table">
			<tr>
				<th>Owner's name</th>
				<th>Pets count</th>
			</tr>
			<tr ng-repeat="owner in ctrl.owners">
				<th><a ui-sref="pets({ ownerId: owner.Id, page: 1, per_page: 3 })">{{owner.Name}}</a></th>
				<th>{{owner.PetsCount}}</th>
				<th><div ng-click="ctrl.remove(owner)"><span class="glyphicon glyphicon-remove"></span></div></th>
			</tr>
		</table>
	</div>
	<div class="row">
		<ul class="pagination">
			<li ng-repeat="page in [] | range: ctrl.pages.count"><a ui-sref="owners({ page: page, per_page: ctrl.page.per_page })">{{page}}</a></li>
		</ul>
	</div>
</div>